@import "tailwindcss";

@font-face {
    font-family: CoFoSans;
    src: url(@/assets//fonts/CoFoSans-Regular.ttf) ;
    font-weight: 300,400,500,600,700;
    font-style: normal;
    font-display: swap;
  }
  
.font-cofo{
  font-family: CoFoSans;
  font-display: swap;
  font-weight: 300;
}

@font-face {
    font-family: Blessed;
    src: url(@/assets//fonts/BlessedScript-Regular.otf) ;
    font-weight: normal;
    font-style: normal;
  font-display: swap;

  }
  
.font-blessed{
  font-family: Blessed;
  font-display: swap;

}

@font-face {
  font-family: 'CoFoSans-Medium';
    src: url(@/assets//fonts/CoFoSans-Medium.ttf) ;
  font-weight: 500;
  font-style: normal;

}

.font-cofo-medium{
  font-family: 'CoFoSans-Medium';
  font-display: swap;

}
@font-face {
  font-family: 'CoFo Sans';
    src: url(@/assets//fonts/CoFo-Sans.ttf) ;
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

.font-cofo-secondary{
  font-family: 'CoFo Sans';
  font-display: swap;

}

body{
  font-family: 'CoFoSans';
  font-display: swap;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}


.video-js, .video-js video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  /* Додаємо кастомну стрілку */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 12px;
  padding-right: 30px;
}
